---
import Layout from "../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const aboutEntry = await getEntry("about", "about");
if (!aboutEntry) {
  throw new Error("Missing src/content/about.md");
}
const { Content } = await render(aboutEntry);
---

<Layout>
  <div
    class={`
      page-enter text-center leading-relaxed text-zinc-600
      max-w-[60ch] mx-auto px-2 pt-12 pb-8
      text-xl lg:text-3xl 
      lg:pt-24 [&_p]:m-0 [&_strong]:font-normal [&_strong]:text-[#2CFF05]
    `}
  >
    <Content />
  </div>
</Layout>
