---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="page-enter flex flex-col items-center justify-center gap-4 h-[calc(100vh-132px)]"
  >
    <!-- <p
      class="font-decorative leading-relaxed text-zinc-600 max-w-[60ch] mx-auto px-2 text-xl lg:text-3xl"
    >
      <a href="tel:+48508898590">+48 508 898 590</a>
    </p> -->
    <p
      class="text-left w-full font-decorative leading-relaxed text-zinc-600 px-2 text-xl lg:text-3xl hover:underline"
    >
      <a href="mailto:urszula.turewicz@gmail.com">urszula.turewicz@gmail.com</a>
    </p>
  </div>
</Layout>
