---
import "../index.css";

type Props = {
  title?: string;
};

const { title = "urszulaturewicz" } = Astro.props;
const pathname = Astro.url.pathname;
// const isWorkSubpage = pathname.split("/").includes("works");

const navItems = [
  {
    label: "Works",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-50 text-zinc-900">
    <div class="flex min-h-dvh flex-col">
      <header class="shrink-0">
        <div class="mx-auto max-w-[1200px] pt-8 text-left">
          <a
            href="/"
            class="text-4xl tracking-wide font-semibold font-decorative text-zinc-900"
          >
            Urszula Turewicz
          </a>
        </div>
      </header>
      <nav
        class="sticky top-0 z-10 w-full shrink-0 bg-zinc-50/80 py-4 backdrop-blur"
        aria-label="Main"
      >
        <div class="mx-auto flex max-w-[1200px] flex-col items-end">
          <div
            class="flex flex-wrap items-center justify-center gap-x-8 gap-y-2"
          >
            {
              navItems.map((item) => (
                <a
                  href={item.href}
                  class:list={[
                    "text-lg uppercase tracking-wide transition-colors hover:underline",
                    pathname === item.href
                      ? "text-zinc-900"
                      : "text-zinc-500 hover:text-zinc-900",
                  ]}
                >
                  {item.label}
                </a>
              ))
            }
          </div>
        </div>
      </nav>
      <main class="mx-auto w-full max-w-[1200px] flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>
